/* You can add global styles to this file, and also import other style files */
.subtitle{
    text-align: center;
    color: black;
}

footer{
    background-color:  #C0C0C0;
}
    #footer {
        position: fixed;
        padding: 0px 10px 0px 10px;
        bottom: 0;
        width: 100%;
        /* Height of the footer*/ 
        height: 140px;
        background: transparent;
    }

  h1 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 50px;
    font-family: "Cormorant Garamond", serif;
  }
  
  p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
  }
  .frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
  }

  @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
